.header {
  background: $primary;
  padding: adaptiv-prop(50, 20) 0;
  font-family: Druk Wide;
  font-size: adaptiv-prop(18, 14);
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -0.055em;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__container{
  display: flex;
  justify-content: space-between;
}

.brand__text--color-brand {
  color: $brand;
}

.nav__link--active {
  color: $brand;
}