:root{
  --primary: #121212;
  --secondary: #FFFFFF;
  --brand: #A8CF36;
  --brand-gradient:linear-gradient(262.16deg, #A9D137 43.95%, #43D137 92.62%);
  --page-bg: #121212;
  --main-bg:#1D1D1D;
  --input-bg:#252525;

  --joyrdan: #E5E1F3;
  --hinkal: #C1BAB0;
}
