@import './light.scss';

$primary: var(--primary);
$secondary: var(--secondary);
$brand: var(--brand);
$brand-gradient: var(--brand-gradient);

$page-bg: var(--page-bg);
$main-bg: var(--main-bg);
$input-bg: var(--input-bg);
$joyrdan: var(--joyrdan);
$hinkal: var(--hinkal);
